<%= form_for(@agency, :html => { :class => "form-inline"}) do |f| %>
  <% if @agency.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@agency.errors.count, "error") %> prohibited this agency from being saved:</h2>

      <ul>
      <% @agency.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   


    <div class="field">
    <%= f.text_field :name %>
   </div>

   <div class="field">
    
      
    <%= f.check_box :user_publish%>

    <lable class="checkbox inline"> Publish (once you have pulished your agency it must be aprroved before it propagates to the app) </lable>
</div>

<br>
<% if current_user.localisto_staff == 1 %>
<div class="well">
  <h2> Adminstative </h2>
  <div class="field">
    <%= f.check_box :admin_publish%>
    <lable class="checkbox inline"> Publish </lable>
    <br>
    <%= f.check_box :included_by_default %>
    <lable class="checkbox inline"> Include by default </lable>
</div>
  </div>
  <% end %>

  <div class="field">
    <%= f.submit :class=>'btn btn-primary' %>
  </div>


<% end %>




<br><br>
     <div class="alert alert-error">
      <h2 class="fleft">Delete Zone</h2>
      
      <div class="btn-group fright" style="padding-top: 5px;">
        <a class="btn btn-danger dropdown-toggle" data-toggle="dropdown" href="#">
        Delete
        <span class="caret"></span>
        </a>
    <ul class="dropdown-menu">
     <li><%= link_to 'Permanently Delete', @agency, method: :delete, data: { confirm: 'Are you sure?' } %></li>
    </ul>
  </div>
<div class="clear"></div>
</div>


