
<div class="span6">
    <h1><%= @agency.name %> </h1>

  <p>

<%= agency_published_alert(@agency) %>

  <table class="table table-striped">
    <tr>
      <th>Projects</th>
      <th></th>
    </tr>
    <%= render @agency.projects %>
  </table>


 </div>

</div>

  <%= render :partial => "publish" %>
    <%= render :partial => "archive" %>
        <%= render :partial => "delete" %>
        <%= render :partial => "editname" %>