<%= form_for ([@question, @aoiquestion]), :html => { :multipart => true } do |f| %>
  <% if @aoiquestion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@aoiquestion.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @aoiquestion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<h2>Create a Pairwise Question</h2>
<br>
<div class="row">
  <div class="span6">
    <div class="field">
    
    <%= f.text_area :name, :size => "300x4" %>
  </div>
   <div class="field">

   </div>
  
</div>
  <div class="span6 menu">
<p>Enter the question into the space provided</p>


</div>
</div>
<hr>

<div class="row">
  <div class="span6 menu">
    <div class="field">
    
    <%= f.text_area :ideas %>
  </div>

</div>
 <div class="span6">
  <p>Enter in each possible response on a new line in the space provided</p>
 </div>

</div>

  <div class="actions">
    <%= f.submit "Create Question", :class=>'btn btn-primary' %>
  </div>
<% end %>
