<%= form_for ([@question, @aoiquestion]), :html => { :multipart => true } do |f| %>
  <% if @aoiquestion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@aoiquestion.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @aoiquestion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
    
    <%= f.text_field :name %>
  </div>
   <div class="field">
    
    <%= f.text_area :ideas %>
  </div>



  <div class="actions">
    <%= f.submit :class=>'btn btn-primary' %>
  </div>
<% end %>
