</div>


  <%= form_for([@agency,@project]) do |f| %>
  <% if @project.errors.any? %>
  <div id="error_explanation">
    <h2><% pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

    <ul>
      <% @project.errors.full_messages.each do |msg| %>
      <li><% msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="span6">

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <label>Project Info</label>
    <%= f.text_area :description, :class=>'projdesc' %>
  </div>

  <div class="field">
    <div class="proj">
<%= image_tag @project.image(:thumb) %>


    <lable>Image for Grid Screen (Size W230 x H246)</lable><br />
    <%= f.file_field :image %>
    </div>
  </div>
  
</div>


<div class="span6">
<br><br><br><br>
 <div class="field">
  <%= f.label :location %>
  <%= f.text_area  :location, :class=>'projloc', :id=>'countMe' %>
  <div class="theCount">Lines used: <span id="linesUsed">0</span> of 3</div>
</div>

<br><br>
<div class="field">
  <label>Location</label>
  <%= f.hidden_field :coordinates, :id => :coordinates %>
</div>


<div id="map_canvas" style="width: 400px; height: 400px"></div> 


<div class="field">
  <%= f.label :meeting_starts %>
  <%= f.text_field :meeting_starts, :id => "meetingstarts", :value => (f.object.meeting_starts.strftime('%d-%m-%Y %I:%M %p') if f.object.meeting_starts)  %> 
</div>


<div class="field">
 <label>Meeting Time to be Displayed</label>
 <%= f.text_field :meeting_time %>
</div>


<div class="field">
  <%= f.label :has_survey %>
  <%= f.check_box :has_survey %>
</div>

<div class="field">
  <label>Survey Close Time / Sort Time</label>
  <%# f.datetime_select :survey_closes, :ampm => true, :start_year => 2012, :include_blank => true, :order => [:month, :day, :year]  %> 
  <%= f.text_field :survey_closes, :id => "surveyclose", :value => (f.object.survey_closes.strftime('%d-%m-%Y %I:%M %p') if f.object.survey_closes)  %>
</div>



<!-- <div class="field">
  <label>Link to Like</label>
  <%= f.text_field :fb_page_url %>
</div> -->



<div class="field">
  <%= f.submit :class=>'btn btn-primary' %>
</div>
<% end %>
</div>







