
<div class="span6">


<div class="proj">
<%= image_tag @project.image %>

<h1><%= @project.title%></h1>
  
  <%= @agency.name %>
  <br>	<br>
<div class="clear"></div>
<p>

  <%= @project.description %>
</p>

<p>
  <b>Location:</b>
  <%= @project.location %>
</p>

<p>
  <b>Coordinates:</b>
  <%= @project.coordinates%>
</p>

<p>
<b>Meeting Starts:</b>
<% if @project.meeting_starts.nil? %>
none
<% else %>
<%= l @project.meeting_starts, :format => :short %>
<% end %>	
</p>

	
<p>
<b>Meeting Display Time:</b>
<%=  @project.meeting_time%>
</p>


<p>
<b>Survey Closes:</b>
<% if @project.survey_closes.nil? %>
none
<% else %>
<%= l @project.survey_closes, :format => :short %>
<% end %>	
</p>
<p>
<b>Project Has Survey:</b>
<%= @project.has_survey %>
</p>

<!-- <b>Url for Facebook:</b>
<%= @project.fb_page_url%>
</p> -->

<!-- <b>Disabled:</b>
<%# @project.disabled %> -->



</div></div>

<div class="span6">

<%  @images = @project.images.order('project_image.position ASC')%>
 <%  @questions = @project.questions.order('question.position ASC') %>

<%= render 'images/imagecarousel'  %>

<%= render 'questions/questionlist' %>

</div>

  <%= render :partial => "publish" %>
    <%= render :partial => "archive" %>
        <%= render :partial => "delete" %>



