
<%if @question.qtype == '1' %>
Responses are text
<table class="table">
  <tr>
    <th>Description</th>
    <th>Sort</th>
    <th></th>

  </tr>

<% @responces.each do |responce| %>
  <tr>
    <td><%= responce.description %></td>
        <td><%= responce.position %></td>
    <td><%= link_to 'Show', question_responce_path(@question.id, responce.id) %></td>

  </tr>
<% end %>
</table>

<% elsif @question.qtype == '2' %>
Response are images 
<table class="table">
  <tr>
    <th>Image</th>
    <th>Description</th>
    <th>Sort</th>
    <th></th>

  </tr>

<% @responces.each do |responce| %>
  <tr>
  	<td><%= image_tag responce.image.url(:thumb) %></td
    <td><%= responce.description %></td>
    <td><%= responce.position %></td>
    <td><%= link_to 'Show', question_responce_path(@question.id, responce.id) %></td>
  </tr>
<% end %>
</table>


<% elsif @question.qtype == '3' %>
Responses are not entered using this interface.
<% end %>








