<h1>Application Users (<%= @appusers.count %>)</h1>

<table class="table">
  <tr>
    
    <td>Votes Cast</td>
    <th>Email</th>
    <th>Gender</th>
    <th>Location</th>
    <th>Hometown</th>
     <th>Bday</th>
     <th>Destory</th>

    
  </tr>

<% @appusers.each do |appuser| %> 
  <tr>
        <td> <%= Result.where(:user_id => appuser.id).count %>
        <td><%= appuser.username %></td>    
        <td><%= appuser.fb_gender %></td>
        <td><%= appuser.fb_location %></td>
        <td><%= appuser.fb_hometown %></td>
        <td><%= appuser.fb_birthday %></td>
  <!--    <td><%# link_to 'Show', appuser %></td> -->
   <!--  <td><%# link_to 'Edit', edit_appuser_path(appuser) %></td> -->
    <td><%= link_to 'Destroy', appuser, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>



