

<%= form_for ([@project, @image]), :html => { :multipart => true, :id => "myform" } do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    
    <%= f.file_field :image %>
  </div>
  <div class="actions">

    <%= f.submit :class=>'btn btn-primary' %><%= image_tag "loading.gif", :id => "loading_image" %>
  </div>
<% end %>


<script type="text/javascript" charset="utf-8">

$(function() {
$('#myform').submit(function() {
    $('#loading_image').show(); // show animation
    return true; // allow regular form submission
});
});

</script>