<!DOCTYPE html>
<html>
<head>
  <title>Localisto</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js" %>

  <%= csrf_meta_tags %>
</head>
<body>

	    <div class="navbar navbar-inverse">
 
    <div class="navbar-inner">
     <div class="container">
    <a class="brand" href="#">Localisto Admin Portal</a>
    <ul class="nav">
    <li ><a href="/">Home</a></li>
    <li><a href="/agencies/">Agencies</a></li>
    <li><a href="/users">Users</a></li> 
    </ul>
    </div>
    </div>
  </div>

  <ul class="breadcrumb">
  <div class="container">
    

<% if @subnav.nil? == false %>
<% @subnav.each do |anchor, url, cssclass, datatog| %>

    <li><%= link_to anchor, url, :class => cssclass, :data => {:toggle => datatog}%></li> 
  <% end %>
<%else%>
 needs sub nav
 <% end %>

    
    </div>
    </ul>


<%= render 'layouts/flash_messages' %>


<div class="container">
<div class="row">


<%= yield %>


</div>
</div>
 
 <div id="footer"><div class="container"></div></div>

</body>
</html>
